<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>
<p>
  <strong>Actors:</strong>
  <%= @movie.actors %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Released:</strong>
  <%= @movie.released %>
</p>
<%= render partial: 'movies/reviews' %>
<%= link_to('Add Review', new_review_path(:movie_id => @movie.id)) if can? :create, Review %>
<%= link_to 'Edit', edit_movie_path(@movie) if can? :edit, @movie %> |
<%= link_to 'Back', movies_path %>
