<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
  <%= @review.movie.name %>
</p>

<p>
  <strong>Format:</strong>
  <%= @review.format.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @review.username %>
</p>

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', movie_path(@review.movie_id) %>
