<!DOCTYPE html>
<html>
<head>
  <title>MoviesOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="flashes">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</div>
<div class='navigation'>
<nav>
<%= link_to('List Movies', movies_path) %>
<%= link_to('Add Movie', new_movie_path) %>
<%= link_to('Log In', new_user_session_path) %>
</nav>
</div>
<%= yield %>
</div>
</body>
</html>
